@font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 900;
    src: local('Alegreya Sans SC Black'), local('AlegreyaSansSC-Black'), url("AlegrayaSansSC.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
    text-align: center;
    background-color: #4889D8;
    background-image: url("glacier.jpg");
    background-image: url("glacier.jpg"), linear-gradient(180deg, #285FA3, #4889D8 600px);
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 400vh;
    min-width: 1077px;
}

body {
    margin: 46px auto 0;
    width: 1024px;
}

header {
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    padding: 16px 0 0;
    margin: 0 0 46px 0;

    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

header .headshot-and-icons {
    float: left;
    padding: 40px 0 40px 55px;
}

header .headshot {
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

header h1 {
    display: inline-block;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 115pt;
    line-height: 1.1;
    letter-spacing: -4px;
    margin: 0 0 0 -20px;
    color: #285fa3;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.1);
}

header social-media-icons {
    font-size: 25pt;
    display: block;
    margin-top: 44px;
}

header social-media-icons a {
    margin: 5px 8px;
    color: #333;
}

header .description {
    text-align: left;
    width: 640px;
    display: inline-block;
    margin: 0 auto;

    font-size: 22pt;
    line-height: 1.4;
    font-family: Copse, "Times New Roman", serif;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

header .description a {
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}

item-carousel {
    margin-top: 39px;

    display: block;
    width: 110%;
    position: relative;
    left: -5.5%;

    white-space: nowrap;
    border-radius: 8px;
    border: solid 5px #fff;
    background-color: #fff;
    box-shadow: 0 2px 12px rgba(0,0,0,0.4);
}

item-carousel carousel-arrow {
    visibility: hidden; /* Shown by JS if/once JS has initialized */

    font-size: 50pt;
    color: #fff;
    padding: 0 19px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    cursor: pointer;
}

item-carousel carousel-arrow:hover {
    opacity: 0.8;
}

item-carousel carousel-arrow[direction=left] {
    left: -68px;
}

item-carousel carousel-arrow[direction=right] {
    right: -68px;
}

.carousel-content {
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.carousel-item {
    height: 250px;
    display: inline-block;
}

.carousel-item .icon {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    font-size: 30pt;
    padding: 10px;
    color: #fff;
}

oembed-item {
    position: relative;
    display: block;
    white-space: normal;
    text-align: left;
}

oembed-item .caption {
    color: #fff;
    font-family: Lato, arial, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
}

.bare-oembed {
    background-color: #4b4b4b;
    border-radius: 5px;
}

.carousel-item oembed-item img {
    height: 250px;
    cursor: pointer;
}

#major-content, #minor-events {
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
    text-align: left;
    font-size: 13pt;
}

#major-content {
    width: 62.5%;
    margin-right: 46px;
}

#minor-events {
    width: 33%;
    font-size: 79%;
}

#minor-events .description {
    display: none;
}

.feed-item {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 20px;
    margin: 0 0 23px;
    border-radius: 2px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    font-family: Lato, Arial, Sans-serif;
}

.feed-item .icon {
    float: left;
    margin: 8px 10px 0 1px;
    font-size: 16px;
}

#minor-events .feed-item .icon {
    margin-top: 3px;
}

#minor-events .feed-item {
    background-color: rgba(20,20,20,0.7);
    border: solid 1px rgba(255,255,255,0.3);
}

#minor-events .feed-item * {
    color: #e5e5e5;
}

.feed-item .outline {
    margin-left: 35px;
}

.feed-item .metadata {
    opacity: 0.65;
    margin: 14px 0 0px;
}

.feed-item .metadata i.fa {
    margin: 0 3px 0 0;
    width: 0.92em;
    text-align: center;
}

.feed-item .metadata > * {
    display: inline-block;
    margin-right: 15px;
}

.feed-item .title {
    line-height: 1.3;
    word-wrap: break-word;
    font-size: 1.38em;
}

#major-content .title {
    font-family: Copse, Serif;
    font-weight: bold;
}

.feed-item .description {
    margin: 16px 0 0 35px;
}

.feed-item .description * {
  width: 100%;
}

footer {
    margin: 11px auto 0;
    width: 100%;

    font-family: Lato, sans-serif;

    background-color: rgba(255,255,255,0.9);
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    border-radius: 5px 5px 0 0;
}

footer social-media-icons > a {
    display: inline-block;
    font-size: 25pt;
    padding: 23px 46px;
    color: #000;
}

footer copyright-notice {
    display: block;
    padding-bottom: 12px;
    font-size: 80%;
}

a {
    color: #285FA3;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 12px 0 0;
    line-height: 1.3;
}

social-media-icons .fa-twitter-square {
    color: #55ACEE;
}

social-media-icons .fa-medium {
    color: #00AB6C;
}

social-media-icons .fa-linkedin-square {
    color: #0077B5;
}

social-media-icons > a:hover > .fa {
    color: #285fa3;
}
