{{#items}}
<div class="feed-item {{#future}}future-item{{/future}}">
    <i class="{{icon}} icon"></i>

    <div class="outline">
      {{#url}}
        <a href="{{url}}"><div class="title">{{& title}}</div></a>
      {{/url}}
      {{^url}}
        <div class="title">{{& title}}</div>
      {{/url}}

      <div class="metadata">
          {{#subtitle}}
            <div class="subtitle">
              {{& subtitle}}
            </div>
          {{/subtitle}}

          <div class="relative-time"><i class="fa-regular fa-clock icon"></i> {{relativeTime}}</div>

          {{#location}}
            <div class="location">
              <i class="fa-solid fa-location-dot icon"></i>
              {{& location}}
            </div>
          {{/location}}
      </div>
    </div>

    {{#description}}
      <div class="description">
        {{& description}}
      </div>
    {{/description}}
</div>
{{/items}}
